.discover-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10vh;

  &__title {
    font-size: 1.875rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }

  &__subtitle {
    color: var(--text-secondary);
  }
}
